.category {
  padding-top: 105px;
  padding-bottom: 201px;
  @media (min-width: 480px) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 105px;
      right: -110px;
      width: 153px;
      height: 166px;
      background-image: url("../img/plus.png");
    }
  }
}
.text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #5e6282;
}
.title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.28;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
  margin-top: 10px;
}
.list {
  margin-top: 66px;
  @media (min-width: 480px) {
    display: flex;
  }
}
.item {
  width: 267px;
  height: 314px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 45px;
  &:hover::before {
    content: "";
    position: absolute;
    bottom: -35px;
    left: -35px;
    z-index: -1;
    width: 100px;
    height: 100px;
    background: #df6951;
    border-radius: 30px 0px 10px;
  }
  @media (min-width: 480px) {
    margin-top: 0;
    &:not(:last-child) {
      margin-right: 31px;
    }
  }
  &:hover,
  &:focus {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
      0px 20px 13px rgba(0, 0, 0, 0.01),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
  }
  &-title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
    color: #1e1d4c;
    margin-top: 29px;
  }
  &-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #5e6282;
    margin: 0 auto;
    margin-top: 15px;
    width: 181px;
  }
}
.img-antena {
  width: 92px;
  height: 78px;
  margin: 0 auto;
}
.img-container {
  position: relative;
  width: 156px;
  height: 120px;
  margin: 0 auto;
  @media (min-width: 480px) {
    height: 80px;
  }
}
.img-rectangle {
  width: 40px;
  position: absolute;
  top: 34px;
  left: 50px;
  margin: 0 auto;
  @media (min-width: 480px) {
    top: 21px;
    left: 50px;
  }
}

.img-plane {
  position: relative;
  width: 150px;
  height: 120px;
  margin: 0 auto;
  @media (min-width: 480px) {
    top: -18px;
  }
}

.img-micro {
  width: 67px;
  height: 75px;
  margin: 0 auto;
}

.img-gear {
  width: 77px;
  height: 66px;
  margin: 0 auto;
}
