.category {
  padding-top: 105px;
  padding-bottom: 201px;
  @media (min-width: 480px) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 105px;
      right: -110px;
      width: 153px;
      height: 166px;
      background-image: $background-image;
    }
  }
}

.text {
  font-family: tagline_font_family;
  font-weight: $text_font_weight;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: text_color;
}

.title {
  font-family: $headings_font_family;
  font-weight: $headings_font_weight;
  font-size: 50px;
  line-height: 1.28;
  text-align: center;
  text-transform: capitalize;
  color: $title_color;
  margin-top: 10px;
}

.list {
  margin-top: 66px;
  @media (min-width: 480px) {
    display: flex;
  }
}

.item {
  width: 267px;
  height: 314px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 45px;
  &:hover::before {
    content: '';
    position: absolute;
    bottom: -35px;
    left: -35px;
    z-index: -1;
    width: 100px;
    height: 100px;
    background: $on_hover_color;
    border-radius: 30px 0px 10px;
  }
  @media (min-width: 480px) {
    margin-top: 0;
    &:not(:last-child) {
      margin-right: 31px;
    }
  }
  &:hover,
  &:focus {
    position: relative;
    background-color: $background-color;
    box-shadow: $main_box_shadow;
    border-radius: 36px;
  }
  &-title {
    font-family: $secondary_title_font_family;
    font-weight: $text_font_weight;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
    color: $secondary_title_color;
    margin-top: 29px;
  }
  &-text {
    font-family: $tagline_font_family;
    font-weight: $tagline_font_weight;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $text_color;
    margin: 0 auto;
    margin-top: 15px;
    width: 181px;
  }
}
.img-antena {
  width: 92px;
  height: 78px;
  margin: 0 auto;
}
.img-container {
  position: relative;
  width: 156px;
  height: 120px;
  margin: 0 auto;
  @media (min-width: 480px) {
    height: 80px;
  }
}
.img-rectangle {
  width: 40px;
  position: absolute;
  top: 34px;
  left: 50px;
  margin: 0 auto;
  @media (min-width: 480px) {
    top: 21px;
    left: 50px;
  }
}

.img-plane {
  position: relative;
  width: 150px;
  height: 120px;
  margin: 0 auto;
  @media (min-width: 480px) {
    top: -18px;
  }
}

.img-micro {
  width: 67px;
  height: 75px;
  margin: 0 auto;
}

.img-gear {
  width: 77px;
  height: 66px;
  margin: 0 auto;
}
