@use 'sass:meta';

@font-face {
  font-family: 'Google Sans Regular';
  src: url('../fonts/google_sans/GoogleSans-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Volkhov:wght@700&display=swap');
// USAGE
body {
  font-family: $main_font_family;
  font-family: $main_font_family;
  font-weight: $main_font_weight;
  font-size: 17px;
  background-color: $background-color;
  color: $main_color;
}

ul,
li {
  list-style: none;
}

.page-wrapper {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

/* обмежую елементи по ширині */
.container {
  max-width: 320px;
  margin: auto;
}

p {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* підлаштовую картинки під зовнішній контейнер */
img {
  display: block;
  width: 100%;
}
