.header {
  padding-top: 6.53vw;
  padding-bottom: 18px;
  width: 100%;
  &::after {
    @media (min-width: 480px) {
      content: '';
      position: absolute;
      background-image: url(../img/decore_full.png);
      background-repeat: no-repeat;
      top: 0;
      right: -23%;
      width: 1922.31px;
      height: 872.58px;
      background-size: contain;
    }
  }

  .header-container {
    // @media (min-width: 480px) {
    //   width: 1160px;
    //   height: 40px;
    // }
    .header-container__navbar {
      @include flexible();
      justify-content: space-between;
      .header-brand {
        width: 114.91px;
        @media (min-width: 480px) {
          margin-right: 222px;
        }
        .header-brand-img-container {
          .header-brand-img {
            width: 114.91px;
            height: 33.99px;
          }
        }
      }
      .header-navbar {
        @include flexible();
        @include flexible-column();
        align-items: flex-end;
        z-index: 2;

        .header-navbar-list {
          @media (min-width: 480px) {
            @include flexible();
            // gap: 6.94vw;
          }
        }
        .header-navbar-list__text {
          padding: 0 20px;
          &:hover,
          &:focus {
            border-radius: 5px;
            border: 1px solid #212832;
          }
          @media (min-width: 480px) {
            @include flexible();
            height: 40px;
            align-items: center;
            &:not(last-child) {
              margin-right: 5px;
            }
          }
          .link {
            text-decoration: none;
            color: #212832;
          }
          .navbar-item-text__details {
            position: relative;
            list-style: none;
            .summary-options {
              position: absolute;
              right: 54px;
              bottom: -42px;
              background-color: white;
              box-shadow: 5px 2px 17px 3px;
              @media (min-width: 480px) {
                right: -2px;
                bottom: -42px;
                background-color: #fff1da;
              }
            }
          }
        }
      }
    }
  }
}
