.header {
  padding: 5px;
  .header-container {
    .header-container__navbar {
      @include flexible();
      justify-content: space-between;
      .header-brand {
        width: 114.91px;

        .header-brand-img-container {
          .header-brand-img {
            width: 114.91px;
            height: 33.99px;
          }
        }
      }
      .navbar_list-items {
        @include flexible();
        @include flexible-column();
        align-items: flex-end;

        .navbar-item-text {
          .navbar-item-text__details {
          }
        }
      }
    }
  }
}
