.main {
  .container {
    @media (min-width: 480px) {
      border: solid 1px red;
      @include flexible();
      position: relative;
    }

    padding-top: 2.5vw;
    .main-container {
      @media (min-width: 480px) {
        @include flexible();
        flex-direction: column;
        position: absolute;
        width: 545px;
        left: 0;
      }
      .main-text-content {
        @media (min-width: 480px) {
          margin-top: 130px;
        }
        .tagline-text {
          font-family: 'Poppins';
          font-weight: 700;
          font-size: 14px;
          line-height: 1.5;
          text-transform: uppercase;
          color: #df6951;
          @media (min-width: 480px) {
            font-size: 20px;
          }
        }
        .heading-text {
          font-family: 'Volkhov';
          font-weight: 700;
          font-size: 11.67vw;
          line-height: 1.05952381;
          letter-spacing: -0.04em;
          color: #181e4b;
          margin-top: 24px;
          @media (min-width: 480px) {
            font-size: 84px;
          }
        }
        .desc-text {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.875;
          color: #5e6282;
          margin-top: 30px;
          @media (min-width: 480px) {
            width: 477px;
          }
        }
      }
      .buttons-container {
        @include flexible();
        flex-direction: column;
        margin-top: 34px;
        @media (min-width: 480px) {
          flex-direction: row;
        }
        .main-container-button {
          // width: 170px;
          height: 60px;
          padding: 0 27px;
          background-color: #f1a501;
          font-family: 'Google Sans';
          font-weight: 500;
          font-size: 18px;
          line-height: 1.28;
          text-align: center;
          color: #ffffff;
          border-radius: 10px;
          border: none;
          min-width: 170px;
          margin-right: 44px;
          @media (min-width: 480px) {
          }
        }
        .buttons__play-button_container {
          @include flexible();
          .play-circle_button-img {
            width: 100px;
          }
          .buttons-container__text {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 1.53;
            color: #686d77;
            width: 92px;
          }
        }
      }
    }
    .main-picture-container {
      position: relative;
      display: block;
      @media (min-width: 480px) {
        width: 765px;
        margin-left: auto;
      }
      .main-picture__traveler {
        width: 280px;
        position: relative;
        z-index: 2;
        @media (min-width: 480px) {
          width: 765px;
        }
      }
      .main_picture__plain_left {
        @include plain();
        left: 49px;
        top: 17px;
        @media (min-width: 480px) {
          left: 143px;
          top: 89px;
        }
      }
      .main_picture__plain_right {
        @include plain();
        right: 12px;
        top: 29px;
        @media (min-width: 480px) {
          right: -2px;
          top: 132px;
        }
      }
    }
  }
}
