$main-color: rgb(122, 78, 42);
$border: 4px dashed grey;
$main_font_family: Google Sans Regular, sans-serif;

$background-color: #fff;
$main_font_size: 17px;
$main_font_weight: 400;
$main_color: #212832;
$main_font_weight: 400;
