@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Volkhov:wght@700&display=swap");
@import 'modern-normalize.css';
@font-face {
  font-family: "Google Sans Regular";
  src: url("../fonts/google_sans/GoogleSans-Regular.ttf") format("truetype");
}
body {
  font-family: Google Sans Regular, sans-serif;
  font-family: Google Sans Regular, sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: #fff;
  color: #212832;
  align-items: center;
}

ul,
li {
  list-style: none;
}

/* обмежую елементи по ширині */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 480px) {
  .container {
    max-width: 1160px;
    padding: 0;
  }
}

p {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* підлаштовую картинки під зовнішній контейнер */
img {
  display: block;
  width: 100%;
}

.hero {
  background-image: no-repeat url("../img/decore.png");
  background: transparent;
  background-position: left 89.646772229vh top -18.1485992692vh;
  background-size: 93.3386114495vh 106.2825822168vh;
}

@media (min-width: 480px) {
  .hero {
    background-image: no-repeat url("../img/decore.png");
    background-position: left 89.646772229vh top -18.1485992692vh;
    background-size: 93.3386114495vh 106.2825822168vh;
  }
}
.header {
  padding-top: 6.53vw;
  width: 100%;
  border: solid 1px red;
}
@media (min-width: 480px) {
  .header::after {
    content: "";
    position: absolute;
    background-image: url(../img/decore_full.png);
    background-repeat: no-repeat;
    top: 0;
    right: -23%;
    width: 1922.31px;
    height: 872.58px;
    background-size: contain;
  }
}
.header .header-container .header-container__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header .header-container .header-container__navbar .header-brand {
  width: 114.91px;
}
@media (min-width: 480px) {
  .header .header-container .header-container__navbar .header-brand {
    margin-right: 222px;
  }
}
.header .header-container .header-container__navbar .header-brand .header-brand-img-container .header-brand-img {
  width: 114.91px;
  height: 33.99px;
}
.header .header-container .header-container__navbar .header-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
@media (min-width: 480px) {
  .header .header-container .header-container__navbar .header-navbar .header-navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header .header-container .header-container__navbar .header-navbar .header-navbar-list__text {
  padding: 0 20px;
}
.header .header-container .header-container__navbar .header-navbar .header-navbar-list__text:hover, .header .header-container .header-container__navbar .header-navbar .header-navbar-list__text:focus {
  border-radius: 5px;
  border: 1px solid #212832;
}
@media (min-width: 480px) {
  .header .header-container .header-container__navbar .header-navbar .header-navbar-list__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    align-items: center;
  }
  .header .header-container .header-container__navbar .header-navbar .header-navbar-list__text:not(last-child) {
    margin-right: 5px;
  }
}
.header .header-container .header-container__navbar .header-navbar .header-navbar-list__text .link {
  text-decoration: none;
  color: #212832;
}
.header .header-container .header-container__navbar .header-navbar .header-navbar-list__text .navbar-item-text__details {
  position: relative;
  list-style: none;
}
.header .header-container .header-container__navbar .header-navbar .header-navbar-list__text .navbar-item-text__details .summary-options {
  position: absolute;
  right: 54px;
  bottom: -42px;
  background-color: white;
  box-shadow: 5px 2px 17px 3px;
}
@media (min-width: 480px) {
  .header .header-container .header-container__navbar .header-navbar .header-navbar-list__text .navbar-item-text__details .summary-options {
    right: -2px;
    bottom: -42px;
    background-color: #fff1da;
  }
}

.main .container {
  padding-top: 2.5vw;
}
@media (min-width: 480px) {
  .main .container {
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
@media (min-width: 480px) {
  .main .container .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 545px;
    left: 0;
  }
}
@media (min-width: 480px) {
  .main .container .main-container .main-text-content {
    margin-top: 130px;
  }
}
.main .container .main-container .main-text-content .tagline-text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #df6951;
}
@media (min-width: 480px) {
  .main .container .main-container .main-text-content .tagline-text {
    font-size: 20px;
  }
}
.main .container .main-container .main-text-content .heading-text {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 11.67vw;
  line-height: 1.05952381;
  letter-spacing: -0.04em;
  color: #181e4b;
  margin-top: 24px;
}
@media (min-width: 480px) {
  .main .container .main-container .main-text-content .heading-text {
    font-size: 84px;
  }
}
.main .container .main-container .main-text-content .desc-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  color: #5e6282;
  margin-top: 30px;
}
@media (min-width: 480px) {
  .main .container .main-container .main-text-content .desc-text {
    width: 477px;
  }
}
.main .container .main-container .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 34px;
}
@media (min-width: 480px) {
  .main .container .main-container .buttons-container {
    flex-direction: row;
  }
}
.main .container .main-container .buttons-container .main-container-button {
  height: 60px;
  padding: 0 27px;
  background-color: #f1a501;
  font-family: "Google Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  min-width: 170px;
  margin-right: 44px;
}
.main .container .main-container .buttons-container .buttons__play-button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .main-container .buttons-container .buttons__play-button_container .play-circle_button-img {
  width: 100px;
}
.main .container .main-container .buttons-container .buttons__play-button_container .buttons-container__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.53;
  color: #686d77;
  width: 92px;
}
.main .container .main-picture-container {
  position: relative;
  display: block;
}
@media (min-width: 480px) {
  .main .container .main-picture-container {
    width: 765px;
    margin-left: auto;
  }
}
.main .container .main-picture-container .main-picture__traveler {
  width: 280px;
  position: relative;
  z-index: 2;
}
@media (min-width: 480px) {
  .main .container .main-picture-container .main-picture__traveler {
    width: 765px;
  }
}
.main .container .main-picture-container .main_picture__plain_left {
  position: absolute;
  width: 64px;
  transform: rotate(-31.84deg);
  left: 49px;
  top: 17px;
}
@media (min-width: 480px) {
  .main .container .main-picture-container .main_picture__plain_left {
    width: 137px;
    height: 95px;
  }
}
@media (min-width: 480px) {
  .main .container .main-picture-container .main_picture__plain_left {
    left: 143px;
    top: 89px;
  }
}
.main .container .main-picture-container .main_picture__plain_right {
  position: absolute;
  width: 64px;
  transform: rotate(-31.84deg);
  right: 12px;
  top: 29px;
}
@media (min-width: 480px) {
  .main .container .main-picture-container .main_picture__plain_right {
    width: 137px;
    height: 95px;
  }
}
@media (min-width: 480px) {
  .main .container .main-picture-container .main_picture__plain_right {
    right: -2px;
    top: 132px;
  }
}/*# sourceMappingURL=index.css.map */